body {
    background-image: linear-gradient(40deg, #b1d685 14.29%, #335c33 14.29%, #335c33 50%, #b1d685 50%, #b1d685 64.29%, #335c33 64.29%, #335c33 100%);
background-size: 43.56px 36.55px;
}
main {
    background-color: #353509;
    margin-bottom: 50px;
    border-style: inset;
    border-width: thick;
    
}
hr {
    width: 100%;
}
button {
    width: 100px;
    height: 65px;
}
.footer {
    background-color: #f2b707;
    height: 10px;
}
.navbar {
    background-color: #e2e2c0;
}
.nav-link {
    color: black;
}
.emailP {
    font-family: 'Staatliches';
    /* background: #0e8dbc; */
    color: black;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);

}
.navbar-toggler-icon {
    color: white;
    background-color: black;
   
}
.cardShadow {
    box-shadow:
    0 6.9px 1.5px rgba(0, 0, 0, 0.027),
    0 11.5px 3.9px rgba(0, 0, 0, 0.036),
    0 14.7px 8.2px rgba(0, 0, 0, 0.042),
    0 17.3px 19.4px rgba(0, 0, 0, 0.048),
    0 20px 30.5px rgba(0, 0, 0, 0.055),
    0 23.2px 35.2px rgba(0, 0, 0, 0.067),
    0 27px 38px rgba(0, 0, 0, 0.1)
  ;
 }
 